*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.pdf
*.ps
*.dvi
*~
*#
html
*.html
*.4ct
*.4tc
*.css
*.dvi
*.idv
*.lg
*.tmp
*.xref
*.fdb_latexmk
*.fls
*.synctex.gz
AnaliseFourier/exercicios_resolvidos.tex
AnaliseFourier/exercicios_todos_com_exemplos.tex
AnaliseFourier/exercicios_todos.tex
AnaliseFourier/exercicios.tex
TransformadaLaplace/exercicios_resolvidos.tex
TransformadaLaplace/exercicios_todos_com_exemplos.tex
TransformadaLaplace/exercicios_todos.tex
TransformadaLaplace/exercicios.tex
